.list-item {
    letter-spacing: -0.2px;
    font-size: 18px;
    margin: 2px 0;
    list-style-type: square;
}

.list-item-important {
    font-weight: bold;
    color: chocolate;
}

.list-item-optional {
    color: darkSlateGray;
}
