body {
    background-color: burlywood;
    font-family: sans-serif;
    padding: 16px;
}

h1 {
    letter-spacing: -0.2px;
    color: maroon;
    margin-top: 0px;
}

img {
    width: 200px;
    border-radius: 25%;
    border-width: 2px;
    border-color: chocolate;
    border-style: solid;
}

h3 {
    color: maroon;
    margin: 0px;
}

li {
    letter-spacing: -0.2px;
    font-size: 18px;
    margin: 2px 0;
    list-style-type: square;
}

li.ingrediente-secreto {
    font-weight: bold;
    color: chocolate;
}

li.ingrediente-opcional {
    color: #50555c;
}

div.ingredientes {
    background-color: navajoWhite;
    border-radius: 10px;
    padding: 20px;
    margin-top: 8px;
}
