body {
    background-color: burlywood;
    font-family: sans-serif;
    padding: 16px;
}

div.ingredientes {
    background-color: navajoWhite;
    border-radius: 10px;
    padding: 20px;
    margin-top: 8px;
}
